.question-explanation-box {
    background-color: #2C2C2C;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    padding: 5px 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 300px;
    height: 150px; 
    overflow-y: auto; 
    color: white;
}


.question-explanation-box::-webkit-scrollbar {
    width: 8px;
}

.question-explanation-box::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 4px;
}

.question-explanation-box::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.question-explanation-box::-webkit-scrollbar-track {
    background: #f1f1f1;
}
