.match-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100vw;
    height: 100vh;
    background-color: lightskyblue;
  }

.diff {
    display:flex;
    align-items:center;
    justify-content:center;
    width:100%;
    height:20%;
    background-color:pink;
}

.topic {
    display:flex;
    align-items:center;
    justify-content:center;
    width:100%;
    height:20%;
    background-color: white;
}

.start {
    display:flex;
    align-items:center;
    justify-content:center;
    width:100%;
    height:20%;
    background-color: white;
}
  
  .form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-group label {
    margin-bottom: 8px;
    font-size: 18px;
    color: #333;
  }
  
  .form-group select,
  .form-group input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
  }
  
  .match-button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 20px;
    width:20%;
  }
  
  .match-button:hover {
    background-color: #0056b3;
  }
  
  .status-display {
    display:flex;
    width:100%;
    height:20%;
    justify-content:center;
    align-items:center;
    font-size: 18px;
    color: #333;
    background-color:pink;
  }
  