// @import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=bolt");
// @import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=sentiment_dissatisfied");

.modal .find-match-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #463F3A;
  text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
  margin: 20px 0;
}

.difficulty-label {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  text-align: left;
  color: #463F3A;
  margin-bottom: 10px;
}

.modal .difficulty-tag {
  border: 2px solid #BCB8B1;
  border-radius: 15px;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  color: #BCB8B1;
  background-color: #FFFFFF;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 700;
}

// Easy (Green)
.modal .easy-tag:hover {
  border-color: #28A745; 
  color: #2DB55D !important;
  background: #F0FFF4;
}

.modal .easy-tag.ant-tag-checkable-checked {
  border-color: #2DB55D;
  color: #28A745;
}

// Medium (Orange)
.modal .medium-tag:hover {
  border-color: #FF8C00;
  color: #FFA500 !important;
  background: #FFF5E5;
}

.modal .medium-tag.ant-tag-checkable-checked {
  border-color: #FFA500;
  color: #FF8C00;
}

// Hard (Red)
.modal .hard-tag:hover {
  border-color: #FF4500;
  color: #FF6347 !important;
  background: #FFE5E5;
}

.modal .hard-tag.ant-tag-checkable-checked {
  border-color: #FF6347;
  color: #FF4500;
}

.topic-label {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  text-align: left;
  color: #463F3A;
  margin-bottom: 10px;
}

.difficulty-selector {
  margin-bottom: 30px;
}

.difficulty-tag {
  margin-right: 8px;
}

.topic-selector {
  margin-bottom: 30px;
}

.select-space {
  width: 100%;
}

.cancel-match-button {
  background-color: #FF4500;
}

.cancel-match-button:hover {
  background-color: #FF6347;
}

.find-match-button {
  background-color: #28A745;
}

.find-match-button:hover {
  background-color: #2DB55D;
}

.join-match-button {
  background-color: #28A745;
}

.join-match-button:hover {
  background-color: #2DB55D;
}

button:disabled, .joined-match-deactivated-button {
  background-color: #71B489;
  cursor: not-allowed;
  box-shadow: none;
}

.retry-match-button {
  background-color: #FFA116;
}

.retry-match-button:hover {
  background-color: #FFB84A;
}

.reselect-match-options-button {
  background-color: #D9D9D9;
}

.reselect-match-options-button:hover {
  background-color: #E3E3E3;
}

.matching-in-progess-content {
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.match-status-label {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: #463F3A;
  text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
  margin-bottom: 5px;
}

.match-status-message {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #8A817C;
  text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
  margin-bottom: 30px;
}

.loading-icon {
  width: 60px;
  height: 60px;
  font-size: 60px;
  color: #463F3A;
  margin-bottom: 20px;
  display: block;
  text-align: center;
  margin-bottom: 30px;
}

.matched-profiles {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 20px;
}

.matched-profiles .bolt-icon {
  width: 48px;
  height: 48px; 
  fill: #463F3A;
}

.dissatisfied-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.dissatisfied-icon-container .disatisfied-icon {
  width: 60px;
  height: 60px; 
  fill: #463F3A;
}

.cancel-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.cancel-icon-container .cancel-icon {
  width: 60px;
  height: 60px; 
  fill: #463F3A;
}
