@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

@layer base {
  :root {
        --background: 0 0% 100%;
        --foreground: 0 0% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 0 0% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 0 0% 3.9%;
        --primary: 46 86% 50%;
        --primary-foreground: 0 0% 98%;
        --secondary: 0 0% 96.1%;
        --secondary-foreground: 0 0% 9%;
        --muted: 0 0% 96.1%;
        --muted-foreground: 0 0% 45.1%;
        --accent: 266 70% 45%;
        --accent-foreground: 46 86% 74%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 89.8%;
        --input: 46 86% 50%;
        --ring: 0 0% 3.9%;
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
        --radius: 0.5rem;
        --color-category-bg: rgba(209, 193, 255, 0.8);
        --color-category-hover: rgba(164, 134, 255, 1);
        --color-easy-bg: rgba(111, 223, 208, 0.8); 
        --color-easy-hover: rgba(111, 223, 208, 1);
        --color-medium-bg: rgba(255, 172, 7, 0.8); 
        --color-medium-hover: rgb(255, 170, 0);
        --color-hard-bg: rgba(239, 68, 68, 0.8); 
        --color-hard-hover: rgba(220, 38, 38, 1); 
        --color-completed-bg: rgba(34, 197, 94, 0.8); 
        --color-completed-hover: rgba(22, 163, 74, 1); 
    }
  .dark {
        --background: 0 0% 3.9%;
        --foreground: 0 0% 98%;
        --card: 0 0% 3.9%;
        --card-foreground: 0 0% 98%;
        --popover: 0 0% 3.9%;
        --popover-foreground: 0 0% 98%;
        --primary: 0 0% 98%;
        --primary-foreground: 0 0% 9%;
        --secondary: 0 0% 14.9%;
        --secondary-foreground: 0 0% 98%;
        --muted: 0 0% 14.9%;
        --muted-foreground: 0 0% 63.9%;
        --accent: 46 86% 50%;
        --accent-foreground: 0 0% 98.1%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;
        --border: 46 86% 50%;
        --input: 46 86% 50%;
        --ring: 0 0% 83.1%;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
        --color-category-bg: #d1c1ff;
        --color-category-hover: #a486ff;
        --color-easy-bg: #a2eae0;
        --color-easy-hover: #88d5ca; 
        --color-medium-bg: #f97316; 
        --color-medium-hover: #ea580c; 
        --color-hard-bg: #ef4444; 
        --color-hard-hover: #dc2626; 
        --color-completed-bg: #22c55e; 
        --color-completed-hover: #16a34a;
    }
}

@layer base {
  * {
    @apply border-border;
    }
  body {
    @apply bg-background text-foreground;
    }
}
