# This docker-compose file is for local development only. It is not intended to be deployed.

services:
    reverse-proxy:
        container_name: reverse-proxy
        environment:
            - NGINX_PORT=8080
            - USER_SERVICE_URL=http://user-service:3002
            - QUESTION_SERVICE_URL=http://question-service:3004
        image: nginx:1.27.2-alpine
        ports:
            - 8080:8080
        restart: always
        volumes:
            - ./nginx/templates:/etc/nginx/templates
        networks:
            - backend-network
        depends_on:
            - user-service
            - question-service
        command: sh -c "envsubst < /etc/nginx/templates/nginx.conf.template > /etc/nginx/nginx.conf && nginx -g 'daemon off;'"

    matching-service:
        container_name: matching-service
        environment:
            - NODE_ENV=development
            - PORT=3006
            - DB_URL=mongodb://user-db:27017/user-service
            - ACCESS_TOKEN_PUBLIC_KEY=${ACCESS_TOKEN_PUBLIC_KEY}
            - ACCESS_TOKEN_PRIVATE_KEY=${ACCESS_TOKEN_PRIVATE_KEY}
            - USER_SERVICE_URL=http://user-service:3002
            - RMQ_USER=${RMQ_USER}
            - RMQ_PASSWORD=${RMQ_PASSWORD}
            - RMQ_HOST=${RMQ_HOST}
        build:
            context: .
            dockerfile: ./backend/matching-service/Dockerfile
        restart: always
        networks:
            - backend-network
        depends_on:
            - rabbitmq
            - matching-db

    rabbitmq:
        image: rabbitmq:4-management-alpine
        container_name: rabbitmq
        ports:
            - 5672:5672
            - 15672:15672
        volumes:
            - rabbitmq_data:/var/lib/rabbitmq/
            - rabbitmq_log:/var/log/rabbitmq/
        networks:
            - backend-network

    matching-db:
        container_name: matching-db
        image: mongo:8.0.0
        ports:
            - '27067:27017'
        volumes:
            - 'matching_data:/data/db'
        networks:
            - backend-network

    user-service:
        container_name: user-service
        environment:
            - NODE_ENV=development
            - PORT=3002
            - DB_URL=mongodb://user-db:27017/user-service
            - ACCESS_TOKEN_PUBLIC_KEY=${ACCESS_TOKEN_PUBLIC_KEY}
            - ACCESS_TOKEN_PRIVATE_KEY=${ACCESS_TOKEN_PRIVATE_KEY}
            - NODEMAILER_EMAIL=${NODEMAILER_EMAIL}
            - NODEMAILER_PASSWORD=${NODEMAILER_PASSWORD}
        build:
            context: .
            dockerfile: ./backend/user-service/Dockerfile
        restart: always
        networks:
            - backend-network
        depends_on:
            - user-db

    user-db:
        container_name: user-db
        image: mongo:8.0.0
        ports:
            - '27027:27017'
        volumes:
            - 'user_data:/data/db'
        networks:
            - backend-network
        command: mongod --quiet --logpath /dev/null

    question-service:
        container_name: question-service
        environment:
            - NODE_ENV=development
            - PORT=3004
            - DB_URL=mongodb://question-db:27017/question-service
            - ACCESS_TOKEN_PUBLIC_KEY=${ACCESS_TOKEN_PUBLIC_KEY}
            - ACCESS_TOKEN_PRIVATE_KEY=${ACCESS_TOKEN_PRIVATE_KEY}
            - USER_SERVICE_URL=http://user-service:3002
        build:
            context: .
            dockerfile: ./backend/question-service/Dockerfile
        restart: always
        networks:
            - backend-network
        depends_on:
            - question-db

    question-db:
        container_name: question-db
        image: mongo:8.0.0
        ports:
            - '27047:27017'
        volumes:
            - 'question_data:/data/db'
        networks:
            - backend-network
        command: mongod --quiet --logpath /dev/null

volumes:
    user_data:
    question_data:
    matching_data:
    rabbitmq_data:
    rabbitmq_log:

# Define a network, which allows containers to communicate
# with each other, by using their container name as a hostname
# without having to go through mapped ports
networks:
    backend-network:
