.home {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../../../assets/background.png);;
}

.content {
  position: relative;
  z-index: 1;
  margin-top: -15vh;
}

h1 {
  color: white;
  font-family: "Tourney", sans-serif;
  text-align: center;
}

h2 {
  color: white;
  font-family: "Signika", sans-serif;
  font-weight: 600;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5vh;
}

.home-button {
  cursor: pointer;
  color: white;
  font-family: "Tourney", sans-serif;
  font-size: 1.5em;
  width: 15vw;
  padding: 20px 10px;
  background-color: rgb(170, 3, 3);
  border-radius: 15px;
  border: none;
}