MONGODB_CLOUD_URI="mongodb+srv://<username>:<password>@cluster0.u2xtg.mongodb.net/?retryWrites=true&w=majority&appName=Cluster"
MONGODB_LOCAL_URI="mongodb://mongo_db:27017/peerprepQuestionServiceDB"

PORT="3002"
AUTH_URL="http://localhost:3001/auth/verify-token"
FRONTEND_URL="http://localhost:5173"