<div class="container">
  <div class="header">Profile</div>
  <div class="inner-container">
  <div class="details">
    <h2 class="field">Account Id:</h2>
    <p class="value">{{id}}</p>
    <h2 class="field">Name:</h2>
    <p class="value">{{userName}}</p>
    <h2 class="field">Email:</h2>
    <p class="value">{{email}}</p>
    <h2 class="field">Questions Attempted:</h2>
    <ul class="value">
      <li *ngFor="let i of matches">
        <p class="item">
          {{i.question_title}} ({{i.question_complexity}}) - {{i.dateTime}} 
          <button (click)="viewCode(i.IdInSessionDB)">View</button>
        </p>
      </li>
    </ul>
  </div>
  <div class="editor-container">
    <h2>Editor</h2>
    <ngx-monaco-editor class="editor" [options]="editorOptions" [(ngModel)]="code"></ngx-monaco-editor>
  </div>




  </div>


</div>
