.collaboration-container {
  display: flex;
  justify-content: space-between;
  height: 100vh;
}

.question-and-whiteboard {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #2f3654;
  padding: 20px;
}

.subheading {
  color: white;
  font-size: 24px;
  margin-bottom: 10px;
  padding-left: 20px;
  text-align: left;
}

.question-box {
  background-color: white;
  max-width: 100%;
  height: 90px;
  overflow-y: auto;
  word-wrap: break-word;
  word-break: break-word;
  white-space: normal;
  text-align: left;
}

.questionTitle {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 16px;
  font-weight: bold;
}

.questionText {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 16px;
}

.whiteboard {
  margin-top: 20px;
  height: 600px;
  text-align: left;
}

.chat-box-and-button {
  background-color: #62262e;
}

.chat-box-and-button h2 {
  text-align: left;
  margin-left: 20px;
  font-size: 16px;
  color: white;
}

.chat-box {
  width: 350px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border: 2px solid #e0e0e0;
  border-radius: 8px;
  padding: 20px;
  height: 65vh;
  margin-top: 20px;
}

.chat-box h3 {
  margin-bottom: 10px;
  font-size: 18px;
  text-align: center;
}

.chat-messages {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f4f4f4;
  height: 300px;
}

.message {
  max-width: 70%;
  margin: 5px 0;
  padding: 8px;
  background-color: #e9e9e9;
  border-radius: 4px;
  text-align: left;
}

.message.sent {
  align-self: flex-end;
}

.message.received {
  align-self: flex-start;
  background-color: #ffffa7;
}

input[type='text'] {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
  font-size: 16px;
}

.send-button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #ffffa7;
  color: black;
  font-size: 16px;
  cursor: pointer;
  position: relative;
}

.send-button:hover {
  background-color: #dccb7a;
}

.leave-container {
  margin-top: 20px;
}

.leave-button {
  width: 90%;
  font-size: 16px;
}

.modal .confirm-button {
  background-color: white;
  color: black;
}

.modal .cancel-button {
  background-color: white;
  color: black;
}

.modal .confirm-button:hover {
  backgound-color: #0056b3;
}
