.question-container {
    background-color: #FCFCFC;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0 auto;
    text-align: left;
    overflow: auto;
  }
  
  .question-header {
    padding: 10px;
    background-color: #1C1678;
    border-radius: 10px 10px 0px 0px;
  }

  .question-header h2 {
    margin: 0;
    color: #FFF;
    font-size: 16px;
    word-wrap: break-word;
    text-align: left;
  }
  
  .question-subheader {
    padding: 0px 10px;
  }

  .question-subheader h3 {
    font-size: 14px;
    word-wrap: break-word;
    text-align: left;
  }

  .question-content {
    padding: 0px 10px 10px;
    font-size: 12px;
    word-wrap: break-word;
    text-align: left;
  }