.App {
  text-align: center;
  font-family: cursive;
}

.App-table {
  margin: 10px auto;
  border-collapse: collapse;
  width: 70%;
  border: 5px solid white;
  color: black;
  font-size: 16px;
}

.App-table th .App-table td {
  border: 2px solid white;
  padding: 8px;
  text-align: left;
}

.App-table th {
  background-color: #f7b32b;
  color: black;
}

.App-table tr:nth-child(odd) {
  background-color: white;
}

.App-table tr:nth-child(even) {
  background-color: #ffffcc;
}

.delete-btn {
  background-color: transparent !important;
  font-size: 12px;
  color: #b30000 !important;
  border: none !important;
  cursor: pointer;
  box-shadow: none !important;
}

.App-header {
  background-color: #2f3654;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 30px;
}

.welcome-text {
  font-size: 40px;
}

.App-link {
  color: #61dafb;
}

.create-btn {
  background-color: #f7b32b;
  color: white;
  border: 2px solid white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4), 0 6px 6px rgba(0, 0, 0, 0.7);
  padding: 6px 15px;
  font-size: 16px;
  font-family: cursive;
  cursor: pointer;
  transition: box-shadow 0.25s ease;
}

.button-div {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.pagination {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  font-size: 14px;
  height: 40px;
  margin-bottom: 20px;
}

.pagination span {
  margin-left: 80px;
  margin-top: 5px;
}

.pagination button {
  border: 2px solid white;
  cursor: pointer;
  font-size: 10px;
  font-weight: bold;
  padding: 0;
  height: 25px;
  width: 25px;
  align-items: center;
}

.pagination button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.jump-to-form {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  background: none;
  width: 50px;
  height: 15px;
  gap: 5px;
  margin-left: 30px;
}

.jump-to-form input {
  vertical-align: middle;
  padding: 5px;
  width: 80px;
}

.jump-to-form button {
  vertical-align: middle;
  width: 50px;
  padding: 2px 5px;
  cursor: pointer;
  border: 2px solid white;
  font-size: 14px;
  margin-bottom: 10px;
}
