.navbar {
    background-color: #f8f9fa;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-content {
    display: flex;
    align-items: center;
    width: 100%;
}

.username {
    font-size: 18px; /* Slightly larger font size */
    color: #007bff; /* Blue color for emphasis */
    font-weight: bold; /* Make it bold */
    margin-right: 20px; /* Space between the username and the logout button */
    background-color: #e9f3fb; /* Light blue background */
    padding: 5px 15px; /* Padding for a better visual structure */
    border-radius: 20px; /* Rounded edges */
    box-shadow: 0 2px 4px rgba(0, 123, 255, 0.2); /* Soft shadow */
    transition: background-color 0.3s ease; /* Smooth transition */
}

.username:hover {
    background-color: #007bff; /* Darken the background on hover */
    color: white; /* Change text color on hover */
}

.logout-button {
    background-color: transparent;
    border: 1px solid #6c757d;
    color: #6c757d;
    cursor: pointer;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: auto;
    transition: background-color 0.3s ease; /* Smooth transition */
}

.logout-button:hover {
    background-color: #6c757d; /* Darker background on hover */
    color: white; /* Change text color on hover */
}
