$primary-color: #e0afa0;
$secondary-color: #463f3a;

.layout {
  background: white;
}

.content {
  background: white;
}

.home-content-card {
  padding: 7rem 8rem;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  margin: auto;
}

.right-panel {
  margin-left: 8rem;
}

.logo-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  display: flex;
  align-items: center;
  text-align: center;
  text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
}

.logo1-title {
  @extend .logo-title;
  color: $primary-color;
}

.logo2-title {
  @extend .logo-title;
  color: $secondary-color;
}

.logo-container {
  display: flex;
  flex-direction: row;
  padding: 0 16px 0 0;
}

.slogan {
  margin-top: 4rem;
  width: 376px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.slogan-1 {
  color: #463f3a;
}

.slogan-2 {
  color: #e0afa0;
}

.button-container {
  margin-top: 4rem;
}

.match-button {
  color: #e0afa0 !important;
  font-weight: 700 !important;
  font-size: 20px !important;
  border-radius: 30px !important;
  width: 242px !important;
  border: 3px solid #e0afa0 !important;
  padding: 20px 0 !important;
}

.match-button:hover {
  color: #d58770 !important;
  border: 3px solid #d58770 !important;
}
