.calendar-container {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 0 auto;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    justify-content: end;
}

.calendar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    color: black;
}

.calendar-button {
    background-color: #1a3042;
    /* Dark cyan color for buttons */
    color: white;
    /* White text for contrast */
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 23px;
    margin-right: 23px;
    width: 40px;
    height: 30px;
}

.calendar-button:hover {
    background-color: #153a4b;
    /* Darker shade for hover effect */
}

.days-online {
    margin: 0;
    font-size: 1rem;
    font-weight: 500;
    color: #1a3042;
    /* Dark cyan color for text */
    text-align: center;
}

.empty-day {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar-day {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #1a3042;
    /* Dark cyan border for calendar days */
    border-radius: 4px;
}

.calendar-day {
    cursor: pointer;
}

.calendar-day.active {
    background-color: #1a3042;
    color: white;
}

.empty-day {
    background-color: transparent;
}