.delete-question-container {
  background-color: darkgrey;
  color: white;
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  font-family: "Signika", sans-serif;
  height: 300px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 470px;
}

.title-box {
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
  overflow-y: auto;
  background-color: #333;
  color: white;
  font-size: 15px;
  margin-top: -15px;
}

.confirm {
  left: 90px;
  font-size: 14px;
  align-items: center;
  position: relative;
  width: 80px;
  height: 30px;
  border-radius: 10px;
  margin-top: 20px;
  font-family: "Signika", sans-serif;
  background-color: white;
  color: black;
  cursor: pointer;
  border: transparent;
}

.confirm:hover {
  background-color: darkgreen;
  color: white;
  transform: scale(1.1);
}

.reject {
  left: 110px;
  font-size: 14px;
  position: relative;
  width: 80px;
  height: 30px;
  border-radius: 10px;
  margin-top: 20px;
  font-family: "Signika", sans-serif;
  background-color: white;
  color: black;
  cursor: pointer;
  border: transparent;
}

.reject:hover {
  background-color: darkred;
  color: white;
  transform: scale(1.1);
}


