.tourney-title {
  color: white;
  font-size: 60px;
  margin-top: 5vh;
  margin-bottom: 40px;
  font-family: "Tourney", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  text-align: center;
}
.qn-list-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.question-list {
  max-height: 600px;
  overflow-y: scroll;
  margin-top: 20px;
  width: 100%;
  max-width: 800px;
}

.question-list::-webkit-scrollbar {
  width: 8px;
}

.question-list::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 4px;
}

.question-list::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.question-list::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.question-list > ul {
  padding: 0;
}
