<div class="mat-dialog-content">
    <div class = "upper-half">
        <div class="mat-dialog-actions">
            <button class="close-button" mat-button mat-dialog-close><i class="fa-solid fa-x"></i></button>
          </div>
    <p class = "question-title">{{ data.questionTitle }}</p>
    <p class="difficulty" [ngClass]="data.questionDifficulty">{{ data.questionDifficulty }}</p>
   
      </div>
<div>
    <p>
    QUESTION DESCRIPTION
    </p>
<app-question-explanation-box></app-question-explanation-box>
</div>
<div>
    <p>
CATEGORIES
    </p>
<app-question-categories></app-question-categories>
</div>
</div>
  
  