apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-svc
  labels:
    type: backend
    app: user-svc
spec:
  selector:
    matchLabels:
      type: backend
      app: user-svc
  template:
    metadata:
      name: user-svc
      labels:
        type: backend
        app: user-svc
    spec:
      containers:
        - name: user-svc
          image: asia-southeast1-docker.pkg.dev/cs3219-g11-peerprep/cs3219-g11-repo/user-svc:latest
          ports:
            - containerPort: 3001
          envFrom:
            - configMapRef:
                name: user-service-config
      dnsPolicy: ClusterFirst
---
apiVersion: v1
kind: Service
metadata:
  name: user-svc
spec:
  type: LoadBalancer
  ports:
    - port: 3001
      targetPort: 3001
  selector:
    type: backend
    app: user-svc
---
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: user-svc
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: user-svc
  minReplicas: 1
  maxReplicas: 5
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 80
