.question-layout {
  background: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.question-content {
  background: white;
  flex: 1;
  overflow-y: auto;
}

.first-col,
.second-col {
  height: 90vh;
}

.question-row {
  padding: 0rem 1rem;
}

.history-row {
  height: 45%;
  padding: 1rem 0.25rem 0.25rem;
}

.code-row {
  height: 55%;
  padding: 1rem 0.25rem 0.25rem;
}

.session-row {
  height: 20%;
  padding: 1rem 0.25rem 0.25rem;
}

.test-top-container,
.code-top-container,
.history-top-container,
.session-top-container {
  display: flex;
  justify-content: space-between;
}

.history-container,
.code-container {
  border: 2px solid #463f3a;
  border-radius: 10px;
  width: 100%;
  padding: 1rem;
}

.history-language {
  margin: auto 8px auto 0px;
}

.language-select {
  width: 120px;
}

.session-container {
  border: 2px solid #463f3a;
  border-radius: 10px;
  width: 100%;
  padding: 1rem;
}

.question-title,
.test-title,
.code-title,
.history-title,
.session-title {
  font-size: 16px;
  font-weight: bold;
}

.question-difficulty,
.question-topic {
  margin: 4px 0px;
}

.session-duration,
.session-matched-user-label {
  margin: 4px 0px;
}

.session-duration-timer {
  font-weight: normal;
  margin-left: 8px;
}

.session-matched-user-name {
  color: #e0afa0;
  margin-left: 8px;
}

.topic-label,
.session-duration,
.session-matched-user-label {
  font-size: 14px;
  font-weight: bold;
}

.title-icons {
  margin-right: 4px;
}

.session-end-button,
.test-case-button {
  width: fit-content;
}

.modal-description {
  margin-bottom: 2rem;
}

.session-modal-question,
.session-modal-difficulty,
.session-modal-duration,
.session-modal-matched-user {
  font-weight: bold;
}

.session-modal-time,
.session-modal-title {
  font-weight: normal;
}
.session-modal-matched-user-name {
  color: #e0afa0;
}

.info-modal-icon {
  color: red;
}

.code-viewer {
  resize: none;
}

.submission-header-detail {
  font-weight: normal;
  padding: 0px 10px 0px 10px;
}
