h2 {
  font-family: "Tourney", sans-serif;
  font-size: 40px;
}

.button {
  width: 10vw;
  height: 5vh;
}

.container {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.form-container {
  width: 20vw;
  padding: 10px;
  color: #f5f5f5;
  font-family: "Tourney", sans-serif;
  font-size: 1.5em;
}

input {
  padding: 10px;
  margin-top: 0.5vh;
  margin-bottom: 2vh;
  font-size: 0.7em;
  border-radius: 15px;
  font-family: "Signika", sans-serif;
  width: 100%;
}

small {
  font-family: "Signika", sans-serif;
}

input.ng-invalid.ng-touched {
  border: 2px solid red;
  background-color: #ffcccc;
}

input.ng-valid.ng-touched {
  border: 3px solid rgb(39, 182, 39);
  background-color: #ffffff;
}

.error-message {
  color: red;
  font-size: 0.7em;
  margin: 0;
}

.submit {
  display: block;
  width: 12vw;
  height: 5vh;
  margin-top: 3vh;
  margin-bottom: 2vh;
  margin-left: 25%;
  font-size: 0.8em;
  font-weight: 700;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-family: "Signika", sans-serif;
  z-index: -2;
}

.submit:hover {
  background-color: yellow;
}

button:disabled {
  background-color: grey;
  cursor: not-allowed;
}
