.header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    margin-top: 1.3rem;
    padding-left: 2%;
    color: white;
    font-family: "Tourney", sans-serif;
    font-weight: 300;
    font-style: normal;
    cursor: pointer;
    white-space: nowrap;
}


.pair-settings {
    display: flex;
    align-items: end;
    border-radius: 20%;
    padding: 0.5rem;
    width: auto;
    gap: 0.3rem;
    /* margin-left: 50%; */
    /* margin-right: 5%; */
}

.nav-bar {
    background-color: black;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    /* align-items: center; */
}

.pair-info {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    padding: 0.5rem;
    width: max-content;
    padding: 0.2rem 1rem;
    gap: 0.3rem;
}

.pair-name {
    font-family: 'Poppins', sans-serif;
    flex-direction: row;
}

.users-icon {
    background-color: rgb(212, 41, 41);
    color: white;
    border-radius: 50%;
    width: 2.2rem;
    height: 2.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    border: none;
}

.chat-icon {
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 50%;
    border: none;
    width: 2.0rem;
    height: 2.0rem;
    cursor: pointer;
}

.end-session {
    display: flex;
    align-items: center;
    justify-content: right;
    background-color: rgb(212, 41, 41);
    border-radius: 15px;
    color: white;
    width: max-content;
    padding: 0.5rem 1rem;
    gap: 0.3rem;
    font-family: 'Signika Negative', sans-serif;
    border: none;
    flex-direction: row;
    cursor: pointer;
    white-space: nowrap;
}

/* align left */
.left-container {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin-left: 2%;
}

/* align right */
.right-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    margin-right: 2%;
}

.collab-container {
    display: flex;
    height: 80vh;
    background-color: #000;
    flex-direction: row;
    margin-top: 1%;
    gap: 2%;
    overflow: hidden;
    width: 100%;
    justify-content: center;
}

.question-container {
    flex: 1;
    color: white;
    overflow-y: auto;
}

app-sidebar {
    display: block;
    overflow-y: hidden;
    flex: 1;
    min-width: 15%;
}

app-collaborative-editor {
    flex: 2;
    overflow-y: auto;
    background-color: #1e1e1e;
}

app-chat {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 20%;
}


.main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
