<nav class = "nav-bar">
    <header class ="header">
        Peer Prep
    </header>
    <div class = "pair-settings">
    <button class = "users-icon">
        <i class="fa-solid fa-user-group"> </i>
    </button>
    <div class = "pair-info">
        <div class = "pair-name">
            Paired with &#64;user12345
    </div>
    <button class = "chat-icon">
        <i class = "fa-regular fa-comments"> </i>
    </button>
    </div>
    </div>
    <button class = "end-session" (click)="endSession()">
        End Session
    </button>
</nav>

<div class="collab-container">
  <app-sidebar [question]="question"></app-sidebar>

  <app-collaborative-editor></app-collaborative-editor>
</div>
