<div class="edit-question-container">
  <div class = header>
    <h1>EDIT QUESTION</h1>
    <button class="back-button" (click)="navigateToList()">&#10005;</button>
  </div>

  <div class="question-title">
    <h2>QUESTION TITLE</h2>
    <div class="title-box">
      <textarea [(ngModel)]="questionTitle" class="editable-box"></textarea>
    </div>
  </div>

  <div class="question-description">
    <h2>QUESTION DESCRIPTION</h2>
    <div class="description-box">
      <textarea [(ngModel)]="questionDescription" class="editable-box"></textarea>
    </div>
  </div>

  <div class="question-category">
    <h2>CATEGORY</h2>
    <div class="selection">
      <div class="dropdown">
        <button class="dropdown-toggle" (click)="toggleDropdown()">
          Select all that applies
        </button>
        <div class="dropdown-menu" [class.show]="dropdownOpen">
          <div *ngFor="let category of categories" class="dropdown-item">
            <label class="dropdown-label">
              {{category.name}}
              <input type="checkbox" [(ngModel)]="category.selected" />
            </label>
          </div>
        </div>
      </div>

      <div class="difficulty-buttons">
        <button class="diff-butt" [ngClass]="{'selected': difficulty === 'easy'}" (click)="setDifficulty('easy')">Easy</button>
        <button class="diff-butt" [ngClass]="{'selected': difficulty === 'medium'}" (click)="setDifficulty('medium')">Medium</button>
        <button class="diff-butt" [ngClass]="{'selected': difficulty === 'hard'}" (click)="setDifficulty('hard')">Hard</button>
      </div>
    </div>
  </div>

  <div class="saving-button">
    <button class="save-button" (click)="saveQuestion()">SAVE</button>
  </div>
</div>
