.table-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
  overflow-x: auto;
  overflow-y: scroll;
  max-height: 90vh;
  border-radius: 10px;
}

table {
  width: 100%;
  border-collapse: separate;
  background-color: #ffffff;
  border-spacing: 0;
  border-collapse: separate;
  border-radius: 10px;
}

tr:nth-child(even) {
  background-color: #d1d1d1;
}

th {
  color: white;
  padding: 8px;
  text-align: left;
  background-color: rgb(175, 2, 117);
}

td {
  padding: 8px;
  text-align: left;
  color: #000000;
  width: 200px;
}

tr:hover {
  background-color: rgb(245, 146, 111);
}

button {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid black;
  cursor: pointer;
}

button:hover {
  background-color: rgb(175, 2, 117);
  color: #ffffff;
  border: 1px solid rgb(175, 2, 117);
}

input {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
}

.button-cell {
  text-align: center;
  width: 6%;
  margin: 0;
}
