.bar {
  position: sticky;
  top: 0px;
  background-color: rgb(206, 229, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 5px 1px 5px;
}

.title {
  color: black;
}

.circle {
  background-color: rgb(66, 93, 66);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}
