.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background: #ffe6f2;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    justify-content: end;
}

.calendar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    color: white;
}

button {
    background-color: #ffb3d9;
    color: black;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 20px;


}

button:hover {
    background-color: #ff80bf;
}

.empty-day {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid #ff80bf;
    border-radius: 4px; */
    margin-left: 50px;
}

.calendar-day{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ff80bf;
    border-radius: 4px;
    margin-left: 50px;
}

.calendar-day {
    cursor: pointer;
}

.calendar-day.active {
    background-color: #ffb3d9;
    color: black;
}

.empty-day {
    background-color: transparent;
}

