.editor-container {
  display: flex;
  position: relative;
  flex-direction: row;
  padding-top: 20px;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.editor-top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  background-color: #2b2b2b;
  color: #ffffff;
  font-size: 15px;
  height: 40px;
  box-sizing: border-box;
  font-family: "Tourney", sans-serif;
}

.symbol {
  color: green;
  font-size: 20px;
}

.editor-language {
  font-weight: bold;
}

.editor-controls button {
  margin-left: 10px;
  padding: 6px 12px;
  border-radius: 4px;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

ngx-monaco-editor {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.editor-bottom-bar {
  padding: 8px 16px;
  background-color: #2b2b2b;
  color: #ffffff;
  font-size: 12px;
  text-align: right;
  height: 30px;
  box-sizing: border-box;
  margin-bottom: 2.5%;
}

.format-button {
  font-family: 'Signika Negative', sans-serif;
  gap: 0.3rem;
  border-radius: 15px;
  border: none;
  flex-direction: row;
  cursor: pointer;
  white-space: nowrap;
  background-color: lightseagreen;
  color: white;
}


.notification-panel {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #333;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.notification-panel {
  margin-bottom: 5px;
  margin-right: 20%;
  background-color: red;
}



