.App {
  background-color: #3b3b3f;
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
}

.markdown-content {
  max-height: 43vh;
}