.question-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #2a2a2a; 
    padding: 10px 15px; 
    border-radius: 10px;
    margin-bottom: 10px;
    width: 750px;
}

.question-title {
    font-family: "Signika Negative", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 24px;
    color: white;
    text-align: start;
    align-items: start;
    background-color: transparent;
    cursor: pointer;
    border: none;
   
  }

.difficulty {
    padding: 8px 12px;
    border-radius: 15px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 50px;
   
}
  
  .difficulty.Easy {
    background-color: #159200;
    color: white;
  }
  
  .difficulty.Medium {
    background-color: #CEC600;
    color: white;
  }
  
  .difficulty.Hard {
    background-color: #A80000;
    color: white;
  }