<div class="question-box">
  <button class="question-title" (click)="openModal()">
    {{ index + 1 }}. {{ question.question_title.toUpperCase() }}
  </button>
  <div class="misc">
    <button  class="delete-icon" *ngIf="isAdmin()" (click)="openDeleteModal()">
      <i class="fa-solid fa-trash fa-2xl" style="color: #ffffff"></i>
    </button>
    <button  class="edit-icon" *ngIf="isAdmin()" (click)="openEditModal()">
      <i class="fa-solid fa-pencil fa-2xl" style="color: #ffffff"></i>
    </button>
    <span class="difficulty" [ngClass]="question.question_complexity">{{
      question.question_complexity
    }}</span>
  </div>
</div>


