apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: question-service
  namespace: peer-prep
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: question-service
  minReplicas: 2
  maxReplicas: 5
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 80
