/* Remove flex from all elements */
* {
    box-sizing: border-box; /* Instead of display: flex */
}

/* Fix flex layout only for specific elements */
.container {
    display: flex;
    align-items: center; 
}

.search-container {
    position: relative;
}

.search-bar {
    color: white;
    font-family: "Signika Negative", sans-serif;
    font-size: 22px;
    background-color: transparent;
    border: 1px solid white;
    padding: 3px 40px 3px 40px; /* Adjust padding */
    margin-left: 10px;
    border-radius: 10px;
    width: 400px;
    text-transform: uppercase;
}

.search-icon {
    position: absolute;
    right: 10px;
    top: 50%; 
    transform: translateY(-50%); 
    color: white;
    pointer-events: none; 
}

.button-container {
    display: flex;
    margin-left: 20px;
    position: relative;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 100%; /* Position it below the filter button */
    left: 0;
}

.filter-container:hover .dropdown-content {
    display: block;
}

/* Styling for buttons inside dropdowns */
.dropdown-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: #f9f9f9;
    width: 100%;
}

.dropdown-content button:hover {
    background-color: #ddd;
}

/* Button styling */
#button {
    background-color: #003D84;
    color: white;
    font-family: "Signika Negative", sans-serif;
    font-size: 20px;
    border-radius: 10px;
    padding: 6px 15px;
    margin-right: 8px;
    border: none;
    cursor: pointer;
}
/* 
#button:last-child {
    margin-right: 0; 
} */
