<div class="container">
    <div class="search-container">
      <input class="search-bar" type="search" placeholder="Search..." />
      <i class="fa-solid fa-magnifying-glass search-icon" style="color: white"></i>
    </div>
    
    <div class="button-container">
      <button id="button" (click)="sortQuestions()">SORT</button>
      
      <!-- Filter Button with Hover -->
      <div class="filter-container">
        <button id="button" (mouseover)="showFilterOptions = true">
          FILTER
        </button>
  
        <!-- Dropdown Content to toggle between Difficulty and Category buttons, or options -->
        <div class="dropdown-content" *ngIf="showFilterOptions" (mouseleave)="showFilterOptions = false">
  
          <!-- Show Difficulty and Category buttons if no filter option is selected -->
          <div *ngIf="!isDifficultyClicked && !isCategoryClicked">
            <button class="dropdown-btn" (click)="showDifficultyOptions()">Difficulty</button>
            <button class="dropdown-btn" (click)="showCategoryOptions()">Category</button>
          </div>
  
          <!-- Show Difficulty Options -->
          <div *ngIf="isDifficultyClicked">
            <button (click)="filterByDifficulty('Easy')">Easy</button>
            <button (click)="filterByDifficulty('Medium')">Medium</button>
            <button (click)="filterByDifficulty('Hard')">Hard</button>
          </div>
  
          <!-- Show Category Options -->
          <div *ngIf="isCategoryClicked">
            <button *ngFor="let category of categories" 
            (click)="filterByCategory(category)"
            >
              {{ category}}
            </button>
          </div>
  
        </div>
      </div>
      
      <button id="button" (click)="openAddModal()">ADD QUESTION</button>
    </div>
  </div>
  