/* You can add global styles to this file, and also import other style files */
<<<<<<< HEAD

html, body {
  height: 100%;
  overflow: hidden;
 }
body { margin: 0;font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: url(../assets/background.png);
    ; }
=======
>>>>>>> 8806ae07732d77a0ef01cfc09179368ca7a2cb90
