.video-container {
  position: relative;
  width: 100%;
}

.user-video,
.matched-user-video {
  width: 100%;
  margin: 4px 0px 0px;
}

.header-tag {
  font-weight: bold;
}

.buttons-container {
  margin-top: 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.icon-padding {
  padding-top: 2px;
}
