.navbar {
  background-color: rgb(65, 65, 65);
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin: 0;
  width: 100%;
  height: 5vh;
}

#header {
  color: #f5f5f5;
  font-family: Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  width: 150px;
}

.button {
  cursor: pointer;
  color: #f5f5f5;
  font-family: Arial, sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  outline: 0;
  padding-left: 1vw;
  padding-right: 1vw;
  width: auto;
  height: 100%;
}

.button:hover {
  background-color: rgb(175, 2, 117);
}

#container {
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/bg.jpg");
  background-size: cover;
  position: fixed;
  top: 0;
  z-index: -1;
}

* {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.username {
  color: white;
  color: #f5f5f5;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 15px;
  padding: 5px 10px;
  margin-right: 1vw;
  text-decoration: none;
}

.logout-button {
  position: absolute;
  color: #f5f5f5;
  width: 5vw;
  height: 5vh;
  font-size: 15px;
  font-weight: 700;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-left: 94%;
}

.logout-button:hover {
  background-color: rgb(175, 2, 117);
  color: #f5f5f5;
}
