.code-editor-yjs {
  max-height: 570px;
  height: 570px;
  border: 1px solid #cccccc;
  overflow-y: scroll;
}

.code-language {
  font-size: 14px;
  font-weight: bold;
}

.code-second-container {
  display: flex;
  margin: 4px 0px;
}

.language-detected {
  margin: 4px 0px;
}
